.card {
  &__section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    margin: 0;
  }

  &__article {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(purple, 0.3);
    border-radius: 0.5rem;
    
      &__content {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        padding: 1.25rem;
    
          h3 {
            margin: 0;
            font-size: 1.5rem;
            color: rebeccapurple;
          }
    
          p {
            margin: 1rem 0;
            color: #767676;
          }
    
          a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            align-self: flex-start;
            min-height: 35px;
            margin-top: auto;
            padding: 0 0.75rem;
            font-size: 1.125rem;
            text-decoration: none;
            border-radius: 4px;
            background-color: rebeccapurple;
            color: #fff;
          }
      }
  }

}